.ch{
    width: 1200px;
    height: 600px;
    text-align: center;
    padding-left: 50px;
    padding-top: 50px;
    margin:auto;
}

body{
	background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#navbar{
	background-color: rgba(0,0,0,0.5);
}

#navbar a{
	color:white;
	font-weight: bold;
}

#navbar a:hover{
	color: white;
	text-decoration: underline;
}

.navbar-toggler{
	background-color: white;
}

h1{
    text-align: center;
    color: skyblue;
}