body{
	background-image: url("../../assets/imgs/seno1.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#navbar{
	background-color: rgba(0,0,0,0.5);
}

#navbar a{
	color:white;
	font-weight: bold;
}

#navbar a:hover{
	color: white;
	text-decoration: underline;
}

.navbar-toggler{
	background-color: white;
}

i{
	width: 20px;
}

a{
	color: white;
}

a:hover{
	color: white;
	text-decoration: underline;
}

.container{
	margin-top: 80px;
	background-color: white;
	background-color: rgba(0,0,0,0.5);
}

form{
	margin-top: 30px;
	margin-bottom: 20px;
}

.row{
	padding-left: 20px;
	padding-right: 10px;
}

h3{
	padding-top: 10px;
}

h3, h2{
	text-align: center;
	padding-bottom: 10px;
	color: white;
}

table tr td, table tr th{
	text-align: center;
	color: white;
	font-weight: bold;
}

table tr th{
	font-size: 16px;
}

table tr td{
	font-size: 18px;
}

.center {
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 30px;
}

.btnSubmit{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 70%;
    color: #fff;
    height:40px;
    margin-bottom: 20px;
}

#warnings{
	text-align: center;
	color: red;
}