<body>

    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="card">
                <div class="card-header">
                    <h3> C<a href="https://en.wikipedia.org/wiki/Easter_egg_(media)" id="hehe">h</a>anging the lock on your barn?</h3>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="input-group form-group">
                            <span id="side-icon" class="input-group-text"> <i class="fas fa-user"> </i> </span>
                            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username">
                        </div>
                        <div class="input-group form-group">
                            <span id="side-icon" class="input-group-text"> <i class="fas fa-key"> </i> </span>
                            <input type="password" class="form-control" placeholder="Old Password" [(ngModel)]="oldpassword" name="oldpassword">
                        </div>
    
                        <div class="input-group form-group">
                            <span id="side-icon" class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="New Password" name="newpassword" [(ngModel)]="newpassword">
                        </div>
    
                        <div class="input-group form-group">
                            <span id="side-icon" class="input-group-text"><i class="fas fa-lock"></i></span>
                            <input type="password" class="form-control" placeholder="Repeat New Password" [(ngModel)]="confirm_newpassword" name="confirm_newpassword"> 
                        </div>
    
                        <div class="form-group button">
                            <input type="submit" value="Submit" (click) = "submit()" class="btn login_btn">
                        </div>
                    </form>
                    
                    <div class="signup">
                        <a routerLink=""> I changed my mind, so I won't change my password. </a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>