#hehe{
    color: white;
    text-decoration: none;
}

body{
    background-image: url('../../assets/imgs/polje.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
    padding-top: 100px;
}

.card{
    height: 370px;
    width: 500px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}

.card-header h3{
    color: white;
}

.card-body{
    padding-left: 20px;
    padding-top: 20px; 
    padding-right: 20px;
    margin-bottom: 20px;
}

.card-footer{
    margin-top:20px;
}

#side-icon{
    width: 40px;
    background-color: #1163cf;
    color: black;
    border:0;
}

.remember{
    color: white;
}

.remember input{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: white;
    width: 100px;
    padding-bottom: 2px;
    border-radius:1.5rem;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.signup{
    color:white;
    text-align: center;
}

.signup{
    text-align: center; 
    margin-top: -30px;   
}

.signup a{
    color: white;
    margin-left: 4px;
}

.forgot a{
    color:white;
}

.button{
    text-align: center;
    padding-bottom: 20px;
}

.card-footer{
    background-color: rgba(0,0,0,0.5);
}